body {
    margin: 0;
    text-align: center;
    font-family: 'Ysabeau SC', sans-serif;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
    color: #EAF4F5;
    background-image: url("https://images.unsplash.com/photo-1679521358979-dbf657f0a773?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin-bottom: 0px;
}

#hero-title {
    background: #7A9DC1;
    font-size: 32px;
    text-shadow: 0px 0px 5px black;
    border-radius: 10px;
    background: #A4A093;
    padding: 5px 12px;
}

#hero-description{
    width: 420px;
    font-size: 19px;
    text-shadow: -2px 2px 5px black;
    border-radius: 10px;
    background: #877565;
    padding: 5px 30px;
}

#activities {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    color: black;
    background: #DDE2DE;
    padding-top: 15px;
    padding-bottom: 15px;
}

#activities-title{
    margin-bottom: 55px;
}

#activities-list {
    display: flex;
    justify-content: space-around;
    font-size: 16px;
    margin-bottom: 20px;
}

.activity-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}

.activity-box:hover{
    transform: scale(1.3);
    transition: 0.5s;
    border-radius: 50px;
    background: #A4A093;
    padding: 20px 10px 0px 10px;
}

.activity-box-title{
    font-weight: bold;
}

.activity-box-img{
    height: 120px;
    width: 120px;
    border-radius: 60px;
}

#bazaar-img{
    background: url("images/old-bazaar.jpg");
}

#castle-img{
    background: url("images/kruja-castle.jpg"); 
}

#hike-img{
    background: url("images/kruja-hiking.jpg");
}

#bazaar-img, #castle-img, #hike-img{
    background-size: cover;
    background-position: center; 
}

#guide{
    display: flex;
    justify-content: center;
}

#guide-card{
    display: flex;
    justify-content: center;
    width: 400px;
    background: linear-gradient(90deg, hsla(197, 14%, 57%, 1) 0%, hsla(192, 17%, 94%, 1) 100%);
    padding: 25px 15px;
    border-radius: 20px;
    border-bottom: 5px solid #6C7E85;
    margin-top: 50px;
    margin-bottom: 50px;
}

#guide-card:hover{
    transform: scale(1.3);
    transition: 0.5s;
}

#guide-card-img{
    width: 180px;
    height: 250px;
    background: url("images/haki-sarande.jpg");
    background-size: cover;
    background-position: 70% 50%;
    border-radius: 20px;
}

#guide-card-text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 200px;
    padding-right: 5px;
    padding-left: 5px;
}

#guide-card-title{
    margin-top: 25px;
    margin-bottom: 15px;
}

#guide-card-description{
    margin-top:0px;
    margin-bottom: 0px;
}

#guide-card-author{
    margin-top: 25px;
    margin-bottom: 0px;
}
